
{% extends 'site.html' %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="mb-3">
        <label class="form-label" for="title-input">{{ form.title.label }}</label>
        {{ form.title(class='form-control', type='text', id='title-input') }}
    </div>

    <div class="mb-3">
        <label class="form-label" for="message-input">{{ form.message.label }}</label>
        {{ form.message(class='form-control', type='text', id='message-input') }}
    </div>

    <div class="mb-3">
        {{ form.submit(class='btn btn-primary') }}
    </div>
</form>

{% endblock %}
