{% extends 'site.html' %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="mb-3">
        <label class="form-label" for="clusters-input">{{ form.clusters.label }}</label>
        {{ form.clusters(class='form-control', id='clusters-input', multiple='multiple', style='list-style: none;') }}
    </div>

    <div class="mb-3">
        <label class="form-label" for="swt-input">{{ form.software_type.label }}</label>
        {{ form.software_type(class='form-control', type='text', id='swt-input') }}
    </div>

    <div class="mb-3">
        <label class="form-label" for="language-input">{{ form.languages.label }}</label>
        {{ form.languages(class='form-control', id='language-input', multiple='multiple', style='list-style: none;') }}
    </div>

    <div class="mb-3">
        {{ form.submit(class='btn btn-primary') }}
    </div>
</form>

{% endblock %}
