{% extends 'site.html' %}

{% block content %}

<div class="row align-items-start">
    <div class="col">
        <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="mb-3">
                <label class="form-label" for="host-input">{{ form.es_host.label }}</label>
                {{ form.es_host(class='form-control', type='text', id='host-input', placeholder='111.111.111.111 or example.com') }}
            </div>

            <div class="mb-3">
                <label class="form-label" for="port-input">{{ form.es_port.label }}</label>
                {{ form.es_port(class='form-control', type='text', id='port-input', placeholder='0000') }}
            </div>

            <div class="mb-3">
                <label class="form-label" for="certs-input">{{ form.es_certs_file.label }}</label>
                {{ form.es_certs_file(class='form-control-file', type='file', id='certs-input', placeholder='Elasticsearch Certificate File') }}
            </div>

            <div class="mb-3">
                <label class="form-label" for="username-input">{{ form.es_user.label }}</label>
                {{ form.es_user(class='form-control', type='text', id='username-input') }}
            </div>

            <div class="mb-3">
                <label class="form-label" for="password-input">{{ form.es_password.label }}</label>
                {{ form.es_password(class='form-control', type='password', id='password-input') }}
            </div>

            <div class="mb-3">
                {{ form.submit(class='btn btn-primary') }}
            </div>
        </form>
    </div>
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" style="text-align:center;">Host</th>
                    <th scope="col" style="text-align:center;">Details</th>
                    <th scope="col" style="text-align:center;">Edit</th>
                    <th scope="col" style="text-align:center;">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for cluster in current_user.clusters %}
                <tr class="dropdown">
                    <td style="text-align:center;">{{ cluster.es_host }}</td>
                    <td style="text-align:center;">
                        <div class="dropdown">
                            <i class="bi bi-eye text-primary" role="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
                            <ul class="dropdown-menu">
                                <li><span class="dropdown-item-text">Host: {{ cluster.es_host }}</span></li>
                                <li><span class="dropdown-item-text">Port: {{ cluster.es_port }}</span></li>
                                <li><span class="dropdown-item-text">User: {{ cluster.es_user }}</span></li>
                                <li><span class="dropdown-item-text">Password: {{ cluster.es_password }}</span></li>
                            </ul>
                        </div>
                    </td>
                    <td style="text-align:center;"><a href="{{ url_for('main.edit_cluster', cluster_id=cluster.id) }}"><i class="bi bi-pencil-square"></i></a></td>
                    <td style="text-align:center;"><a href="{{ url_for('main.delete_cluster', cluster_id=cluster.id) }}"><i class="bi bi-trash"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
