{% extends 'site.html' %}

{% block content %}

<div class="row align-items-start">
    <div class="col">
        <form method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="mb-3">
                <label class="form-label" for="host-input">{{ form.es_host.label }}</label>
                {{ form.es_host(class='form-control', type='text', id='host-input', placeholder='111.111.111.111 or example.com') }}
            </div>

            <div class="mb-3">
                <label class="form-label" for="port-input">{{ form.es_port.label }}</label>
                {{ form.es_port(class='form-control', type='text', id='port-input', placeholder='0000') }}
            </div>

            <div class="mb-3">
                <label for="certs-input" class="form-label">{{ form.es_certs_file.label }}</label>
                {{ form.es_certs_file(class='form-control', type='file', id='certs-input', placeholder='Elasticsearch Certificate File') }}
            </div>

            <div class="mb-3">
                <label class="form-label" for="username-input">{{ form.es_user.label }}</label>
                {{ form.es_user(class='form-control', type='text', id='username-input') }}
            </div>

            <div class="mb-3">
                <label class="form-label" for="password-input">{{ form.es_password.label }}</label>
                {{ form.es_password(class='form-control', type='password', id='password-input') }}
            </div>

            <div class="mb-3">
                {{ form.submit(class='btn btn-primary') }}
            </div>
        </form>
    </div>
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Host</th>
                    <th scope="col">Port</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for cluster in current_user.clusters %}
                <tr>
                    <td>{{ cluster.es_host }}</td>
                    <td>{{ cluster.es_port }}</td>
                    <td><a href="{{ url_for('main.edit_cluster', cluster_id=cluster.id) }}">Edit</a></td>
                    <td><a href="{{ url_for('main.delete_cluster', cluster_id=cluster.id) }}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
