{% extends 'site.html' %}

{% block content %}

<form method="POST" enctype="multipart/form-data">
    {{ form.csrf_token }}
    <div class="mb-3">
        <label class="form-label" for="host-input">{{ form.es_host.label }}</label>
        {{ form.es_host(class='form-control', type='text', id='host-input', placeholder='111.111.111.111 or example.com') }}
    </div>

    <div class="mb-3">
        <label class="form-label" for="port-input">{{ form.es_port.label }}</label>
        {{ form.es_port(class='form-control', type='text', id='port-input', placeholder='0000') }}
    </div>

    <div class="mb-3">
        <label class="form-label" for="certs-input">{{ form.es_certs_file.label }}</label>
        {{ form.es_certs_file(class='form-control', type='file', id='certs-input', placeholder='Elasticsearch Certificate File') }}
    </div>

    <div class="mb-3">
        <label class="form-label" for="username-input">{{ form.es_user.label }}</label>
        {{ form.es_user(class='form-control', type='text', id='username-input') }}
    </div>

    <div class="mb-3">
        <label class="form-label" for="password-input">{{ form.es_password.label }}</label>
        {{ form.es_password(class='form-control', type='password', id='password-input') }}
    </div>

    <div class="mb-3">
        {{ form.submit(class='btn btn-primary') }}
    </div>
</form>

{% endblock %}
