{% extends 'site.html' %}

{% block content %}

<div class="container">
    <form>
        <div class="mb-3">
            <label class="form-label" for="username-input">Username</label>
            {{ form.username(class='form-control', type='text', id='username-input') }}
        </div>

        <div class="mb-3">
            <label class="form-label" for="password-input">Password</label>
            {{ form.password(class='form-control', type='password', id='password-input') }}
        </div>

        {{ form.submit(class='btn btn-primary') }}
    </form>
</div>

{% endblock %}
