{% extends 'site.html' %}

{% block content %}

<form method="POST">
    {{ form.csrf_token }}
    
    <div class="mb-3">
        <label class="form-label" for="username-input">{{ form.username.label }}</label>
        {{ form.username(class='form-control', type='text', id='username-input') }}
    </div>

    <div class="mb-3">
        <label class="form-label" for="password-input">{{ form.password.label }}</label>
        {{ form.password(class='form-control', type='password', id='password-input') }}
    </div>

    <div class="mb-3">
        {{ form.submit(class='btn btn-primary') }}
    </div>
</form>

{% endblock %}
