{% extends 'site.html' %}

{% block content %}

<form method="POST">
    {{ form.csrf_token }}

    <div class="mb-3">
        <label class="form-label" for="swt-input">{{ form.software_type.label }}</label>
        {{ form.software_type(class='form-control', id='swt-input', style='list-style: none;') }}
    </div>

    <div class="mb-3">
        <label class="form-label" for="language-input">{{ form.language.label }}</label>
        {{ form.language(class='form-control', id='language-input', style='list-style: none;') }}
    </div>

    <div class="mb-3">
        <label class="form-label" for="name-input">{{ form.name.label }}</label>
        {{ form.name(class='form-control', type='text', id='name-input') }}
    </div>

    <div class="mb-3">
        <label class="form-label" for="desc-input">{{ form.description.label }}</label>
        {{ form.description(class='form-control', type='text', id='desc-input') }}
    </div>

    <div class="mb-3">
        <label class="form-label" for="insc-input">{{ form.retrieval_instructions.label }}</label>
        {{ form.retrieval_instructions(class='form-control', type='text', id='insc-input') }}
    </div>

    <div class="mb-3">
        {{ form.submit(class='btn btn-primary') }}
    </div>
</form>

{% endblock %}
