
{% extends 'site.html' %}

{% block content %}

<h3 class="text-center">Cluster Requests</h3>

<hr>

<ul class="nav nav-underline justify-content-center">
    {% if request_id == 1 %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ url_for('main.cluster_requests', request_id=1) }}">Approved</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.cluster_requests', request_id=0) }}">Pending</a>
    </li>
    <li class="nav-item">
        <a class="nav-link"  href="{{ url_for('main.cluster_requests', request_id=2) }}">Denied</a>
    </li>
    {% elif request_id == 2 %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.cluster_requests', request_id=1) }}">Approved</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.cluster_requests', request_id=0) }}">Pending</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ url_for('main.cluster_requests', request_id=2) }}">Denied</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.cluster_requests', request_id=1) }}">Approved</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{{ url_for('main.cluster_requests', request_id=0) }}">Pending</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('main.cluster_requests', request_id=2) }}">Denied</a>
    </li>
    {% endif %}
</ul>

<ul class="list-group">
    {% for cr in clusters %}
        <li class="list-group-item">
            <h6>{{ cr.name }} ({{ cr.es_host }})</h6>
            {% if request_id == 0 %}
                <a href="{{ url_for('main.handle_cluster_request', cr_id=cr.id, approve=1) }}"><i class="bi bi-check-circle"></i></a>
                <a href="{{ url_for('main.handle_cluster_request', cr_id=cr.id, approve=0) }}"><i class="bi bi-x-circle"></i></a>
            {% elif request_id == 1 %}
                <a class="btn btn-primary" href="{{ url_for('main.handle_cluster_request', cr_id=cr.id, approve=0) }}">Revoke Cluster</a>
            {% else %}
                <a class="btn btn-primary" href="{{ url_for('main.handle_cluster_request', cr_id=cr.id, approve=1) }}">Approve Cluster</a>
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% endblock %}
