{% extends 'site.html' %}

{% block content %}

<form method="POST">
    {{ form.csrf_token }}

    <div class="mb-3">
        <label class="form-label" for="swt-input">{{ form.software_type.label }}</label>
        {{ form.software_type(class='form-control', id='swt-input', style='list-style: none;') }}
    </div>

    <div class="mb-3">
        <label class="form-label" for="language-input">{{ form.language.label }}</label>
        {{ form.language(class='form-control', id='language-input', multiple='multiple', style='list-style: none;') }}
    </div>

    <div class="mb-3 input-group">
        <div class="form-outline">
            {{ form.search_query(class='form-control', type='text', id='search-query-input', placeholder='Keywords For Your Software') }}
        </div>
        {{ form.submit(class='btn btn-primary') }}
    </div>
</form>

{% endblock %}
