{% extends 'site.html' %}

{% block content %}

<h4>Codescout</h4>
<p>Codescout is an application that can be deployed via containerization for a 
    specific organization that wishes to have complete control of their IP while 
    still being able to keep a well documented, widely available, and searchable 
    database of their IP.
    
    Codescout has two primary services as part of it, these are the Codescout 
    Flask deployment and the PostgreSQL database that facilitates its use. 
    Additionally there is an Elasticsearch deployment included for demo purposes.
    Elasticsearch is what gives Codescout the ability to function. In order to 
    add data and search that data your organization must have an Elasticsearch 
    cluster setup and connected to Codescout.</p>

<h4>What I Learned</h4>

<ul>
    <li>ElasticSearch Architecture and Operations</li>
    <li>Furthered my knowledge of Docker and Docker-Compose, by learning how to automate Docker operation via Docker-Compose.</li>
    <li>Advanced in SQL operations by learning how relations work in SQL.</li>
    <li>Solidified my Flask programming.</li>
    <li>General deployment operations, experimented with Elasticsearch certs and verifying client.</li>
</ul>

{% endblock %}
