<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Scout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" href="{{ url_for('static', filename='code-scout-logo.png') }}" type="image/x-icon">
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #7353BA; color: #FFFFFF;">
        <div class="container-fluid">
            <a class="navbar-brand italic" href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='code-scout-logo.png') }}" class="rounded me-2" alt="Code Scout" width="80" height="80"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-building-add"></i>&nbsp;Organizations
                        </a>
                        <ul class="dropdown-menu">
                            {% if org %}
                            <li>
                                <a class="dropdown-item" href="#">Organization: {{ org.name }}</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{{ url_for('main.join_organization') }}">Join Organization</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('main.create_organization') }}">Create Organization</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('main.search_engine', page_idx=0) }}"><i class="bi bi-search"></i>&nbsp;Search</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-plus-square"></i>&nbsp;Adding Software
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('main.add_software_type') }}">Add Software Type</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('main.add_language') }}">Add Language</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('main.add_software') }}">Add Software</a></li>
                        </ul>
                    </li>
                    {% if current_user.is_authenticated and current_user.admin_status %}
                    <li class="nav-item"><a class="nav-link active" href="{{ url_for('main.clusters') }}"><i class="bi bi-gear-wide-connected"></i>&nbsp;Cluster Configuration</a></li>
                    <li class="nav-item"><a class="nav-link active" href="{{ url_for('main.org_user_monitor', page=0) }}"><i class="bi bi-people"></i>&nbsp;Organization Users</a></li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle"></i>&nbsp;
                            {% if current_user.is_authenticated %}
                            {{ current_user.username }}
                            {% else %}
                            Not Logged In
                            {% endif %}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('auth.login') }}">Login</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('auth.signup') }}">Signup</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}"><i class="bi bi-box-arrow-right"></i>&nbsp;Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="p-3"></div>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for cat, message in messages %}

                <div class="alert alert-{{ cat }}" role="alert">
                    {{ message }}
                </div>

                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
