
{% extends 'site.html' %}

{% block content %}

<div class="card">
    <div class="card-body">
        <p scope="col" style="text-align:center;">Join Token: {{ org.enrollment_token }}</p>
        <p scope="col" style="text-align:center;">Generate New Token <a href="{{ url_for('main.generate_new_token') }}"><i class="bi bi-building-lock"></i></a></p>
    </div>
</div>

<hr>

<div class="container">
    <div class="row gy-3">

    {% for user in users %}
        <div class="card">
            <div class="card-body">
                <h5>{{ user.first_name }} {{ user.last_name }}</h5>
                <p>Username: {{ user.username }}</p>
                <p>Admin Status: {{ user.admin_status }}</p>
                <a class="btn btn-primary" href="{{ url_for('main.remove_user', user_id=user.id) }}">Remove User From Organization</a>
            </div>
        </div>
    {% endfor %}

    </div>
</div>

<hr>

<nav aria-label="Page Navigation">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="{{ url_for('main.org_user_monitor', page=0) }}"><i class="bi bi-caret-left"></i><i class="bi bi-caret-left"></i></a></li>
        {% if page > 0 %}
            <li class="page-item"><a class="page-link" href="{{ url_for('main.org_user_monitor', page=page - 1) }}"><i class="bi bi-caret-left"></i></a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('main.org_user_monitor', page=page) }}"><i class="bi bi-caret-left"></i></a></li>
        {% endif %}

        {% if (total_pages - 1) > page %}
            <li class="page-item"><a class="page-link" href="{{ url_for('main.org_user_monitor', page=page + 1) }}"><i class="bi bi-caret-right"></i></a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('main.org_user_monitor', page=page) }}"><i class="bi bi-caret-right"></i></a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="{{ url_for('main.org_user_monitor', page=(total_pages - 1)) }}"><i class="bi bi-caret-right"></i><i class="bi bi-caret-right"></i></a></li>
    </ul>
</nav>

{% endblock %}
